In [1]:
import pandas as pd
raw_cat = pd.Categorical(["red", "red", "yellow", "green", "blue"],
                          categories=["red", "yellow", "green"], ordered=False)
s = pd.Series(raw_cat)

print(s)

0       red
1       red
2    yellow
3     green
4       NaN
dtype: category
Categories (3, object): ['red', 'yellow', 'green']

In [3]:
import numpy as np

df_size = 100_000
df1 = pd.DataFrame(
    {
        "float_1": np.random.rand(df_size),
        "species": np.random.choice(["cat", "dog", "ape", "gorilla"], size=df_size),
    }
)
df1_cat = df1.astype({"species": "category"})

In [4]:
df1_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   float_1  100000 non-null  float64
 1   species  100000 non-null  category
dtypes: category(1), float64(1)
memory usage: 879.2 KB

In [5]:
display(df1_cat)

        float_1  species
0      0.715304      dog
1      0.800660      dog
2      0.440665      ape
3      0.240856      cat
4      0.297030  gorilla
...         ...      ...
99995  0.201067  gorilla
99996  0.964614      cat
99997  0.126638      dog
99998  0.884028      cat
99999  0.514091      cat

[100000 rows x 2 columns]

In [6]:
df1.memory_usage(deep=True)

Index          128
float_1     800000
species    6099772
dtype: int64

In [7]:
df1_cat.memory_usage(deep=True)

Index         128
float_1    800000
species    100416
dtype: int64