In [1]:
import pandas as pd
df = pd.DataFrame({
    'color' : ['Red', 'Red', 'Yellow', 'Green', 'Blue']
})
print(df)

    color
0     Red
1     Red
2  Yellow
3   Green
4    Blue

In [3]:
import pandas as pd
s = pd.Series(['Red', 'Red', 'Yellow', 'Green', 'Blue'])
df = s.to_frame()
print(df)

        0
0     Red
1     Red
2  Yellow
3   Green
4    Blue

In [5]:
pd.get_dummies(df, drop_first=True)

   0_Green  0_Red  0_Yellow
0        0      1         0
1        0      1         0
2        0      0         1
3        1      0         0
4        0      0         0